<section class="discover-movies">
  <%= button_to "Discover Movies", discover_index_path, method: :get %>
</section>

<section class="friends">
  <h1>Friends</h1>
  <% if current_user.friends.empty? %>
    <%= tag.p "You currently have no friends" %>
  <% else %>
    <% current_user.friends.each do |friend| %>
      <%= tag.p friend.name %>
    <% end %>
  <% end %>

  <%= form_tag "/friendships", method: :post do %>
    <%= label_tag :friends_email, "Search for Friends by Email" %><br/>
    <%= text_field_tag :friends_email %>
    <%= submit_tag "Add Friend" %>
  <% end %>

</section>

<section class="viewing-party">
  <h1>Viewing Parties</h1>
</section>
